{% extends 'admin/block.html' %}
{% block content %}
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="{{url_for('static', filename='dist/img/AdminLTELogo.png')}}" alt="AdminLTELogo" height="60" width="60">
  </div>

 {% include '/admin/layouts/navbar.html'%}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
      {% include 'admin/layouts/content_header.html' %}
    <!-- /.content-header -->

    <!-- Main content -->
    
    <section class="content">
        <div class="container-fluid">
            <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Yeni kategoriya</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/admin/blog/categories/update/{{data[0]}}" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Kategoriya adı (AZ)</label>
                    <input type="text" class="form-control" name="category_name_az" value="{{ data[1] }}">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Kategoriya adı (EN)</label>
                    <input type="text" class="form-control" name="category_name_en" value="{{ data[2] }}">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Əlavə et</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
        </div>
           
        </div>
    </section>
    <!-- /.content -->
  </div>
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

{% endblock %}